@use './Colors.scss';

.player{
    display: flex;
    direction: rtl;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding:3rem;
    .card-player{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .music-img{
        width: 50%;
    }
    .info{
        width: 50%;
        color:var(--color-white);
        padding: 2rem;
        .music-name{
            font-size: 5rem;
            text-decoration:none;
        }
        .singer-name{
            font-size: 3.5rem;
            text-decoration:none;
        }
        .music-info{
            font-size: 2rem;
        }
        .music-audio-player{
            width: 100%;
        }
    }
}