@use './SLF';
@include SLF.same-for-signup-login-forgotpass(5,4,2.5);
form{
    .form__radio{
        margin:1rem 0;
        width: 100%;
        place-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: .2rem;
        row-gap: 0.5rem;
        label:first-of-type{
            grid-column: 1/5;
            place-self: center;
        }
        > label{
            color: var(--color-white);
            font-size: 1.6rem;
            place-self: end;
            text-align: center;
            
        }
        > input{
            place-self: start;
        }
    }
}
    