@use './SLF';
@include SLF.same-for-signup-login-forgotpass(5,4);
form{
    .form__radio{
        margin-top: -3rem;
        width: 100%;
        place-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.2rem;
        row-gap: 2rem;
        label:first-of-type{
            grid-column: 1/5;
            place-self: center;
        }
        > label{
            color: var(--color-purple-06);
            font-size: 2rem;
            place-self: end;
            text-align: center;
            
        }
        > input{
            place-self: start;
        }
    }
}
    