body {
    display: grid;
    place-items: center;
    background-color: var(--color-black);
    form{
        display: grid;
        place-items: center;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "field" "gender" "submit";
        row-gap: 0.2rem;
        // background-color: var(--color-purple-10);
        width: 25rem;
        //inja width: 100% mizarm eshtebah mishe
        height: 100vh;
        &:first-child{
            color: var(--color-purple-06);
        }
        .form__fields{
            grid-area: "field";
            input{
                width: 100%;
                height: 2rem;
                border:none;
                border-radius: 0.2rem;
                color: var(--color-black);
                text-align: center;
                margin: 2rem auto;
            }
            &:focus{
                
            }
            label{
                opacity: 0;
            }
        }
        .form__radio{
            grid-area: "gender";
            align-self: center;
            display: flex;
            flex-direction: row;
            width: 7rem;
            justify-content: space-between;
            text-align: center;
            label{
                text-align: center;
                margin: auto 0.6rem;
                opacity: 1;
            }
        }
        a{
            text-decoration: none;
            color: var(--color-white);
        }
        [type="submit"]{
            background-color: var(--color-purple-13);
            color: var(--color-white);
            width: 50%;
            border: none;
            border-radius: 2rem;
            height: 3rem;
        }
    }
}